@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  border-bottom: 2rem solid #edc84b;
  min-height: 100vh;
  padding: 0 3.2rem 1rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.header {
  align-self: stretch;
}

.header h1 {
  color: #edc84b;
  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.header h1::before,
.header h1::after {
  display: block;
  content: "";
  height: 3px;
  width: 8rem;
  background-color: #edc84b;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}

.menu h2 {
  display: inline-block;
  padding: 0.5rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu > p {
  margin: 10px 0;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  width: 70%;
}

.pizzas {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.pizza {
  display: flex;
  gap: 3.2rem;
}

.pizzaImg {
  width: 12rem;
  aspect-ratio: 1;
  align-self: start;
  border-radius: 30px;
}

.pizzaDiv {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.4rem 0;
}

.pizza h3 {
  font-size: 2rem;
  font-weight: 400;
}

.pizza p {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.pizzaSpan {
  display: block;
  font-size: 1.6rem;
}

.pizza.sold-out {
  color: #888;
}

.pizza.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

.orderButtons {
  display: flex;
  justify-content: left;
  align-items: center;
}

.orderButton {
  width: 25px;
}

.orderButton:hover {
  cursor: pointer;
}

.orderButtonDisabled {
  filter: grayscale();
  opacity: 0.8;
}

.orderButtonDisabled:hover {
  cursor: default;
}

.orderCantity {
  font-size: 20px;
  margin: 0 5px;
}

.footer {
  font-size: 1.4rem;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.order {
  margin: 20px 0;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 10px;
}

.btn:hover {
  background-color: #e9bb24;
}

.swal2-text {
  font-size: 18px !important;
}

.swal2-icon {
  width: 70px;
  height: 70px;
}

.swal2-popup {
  font-size: 12px !important;
}

@media (max-width: 800px) {
  .pizzas {
    grid-template-columns: 1fr;
  }

  .header h1 {
    font-size: 3rem;
  }

  .header h1::before,
  .header h1::after {
    width: 2rem;
  }

  .header h1::before {
    left: -20px;
  }

  .header h1::after {
    right: -20px;
  }

  .menu h2 {
    padding: 0.2rem 0;
    font-size: 2rem;
  }

  .menu > p {
    font-size: 1.4rem;
    line-height: 1.3;
    width: 100%;
  }

  .order {
    font-size: 1.4rem;
  }

  .btn {
    padding: 1.2rem 3rem;
  }

  .swal2-text {
    font-size: 16px !important;
  }

  .swal2-icon {
    width: 60px;
    height: 60px;
  }

  .swal2-popup {
    font-size: 10px !important;
  }
}
